.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  .left{
    justify-content:space-between;
    float: left;
  }
  .full{
    justify-content:flex-end;
    background-color: #42A948;
    width: 100%;
    float: left;
  }
  .left{
    float: left;
    margin-right: 50px;
  }
  .h100{
    float: left;
    width: 100%;
    min-height: 100px;
  }
  .textcenter{
    text-align: center;
  }